.single .hentry {
  /* display: block !important; */
}

.k2k-vocabulary .entry-meta,
.k2k-grammar .entry-meta,
.k2k-phrases .entry-meta,
.k2k-reading .entry-meta,
.k2k-writing .entry-meta {
  padding-top: 1rem;
}

.archive-posts-grid .post-thumbnail .post-edit-link {
  padding-top: 5px;
  padding-bottom: 5px;
}

span.part-of-speech,
li.part-of-speech a {
  color: white;
}

.archive .taxonomy-title {
  margin-top: 2rem;
  font-size: 1.125rem;
}

.archive .taxonomy-filter {
  display: flex;
  align-items: center;
}

.archive .taxonomy-filter span {
  margin-right: 1rem;
}

.archive .k2k-taxonomies {
  display: block;
}

.k2k-taxonomy-list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.k2k-taxonomy-item {
  background: rgba(135, 149, 161, 0.2);
  padding: 0 10px;
  border-radius: 30px;
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.k2k-taxonomy-item-stars .level-stars {
  position: relative;
  display: inline-block;
  margin-top: -10px;
}

.k2k-taxonomy-item.long,
.k2k-taxonomy-item-title,
.k2k-taxonomy-item-stars {
  background: transparent;
  padding: 0;
}

.level-stars {
  font-size: 0.6rem;
  color: #cf8031;
  position: absolute;
  top: 1rem;
  left: 2rem;
}

.entry-meta .level-stars {
  position: absolute;
  left: 0;
  top: -6px;
}

.k2k-taxonomy-item-title {
  margin-bottom: 0;
}

.k2k-taxonomy-item a {
  border-bottom: none;
  color: #32373c;
}

.k2k-sidebar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 75rem;
  margin: 0 auto;
  padding-bottom: 3rem;
  flex-direction: row-reverse;
}

.k2k-sidebar.archive-page {
  padding-bottom: 1rem;
}

.k2k-filters {
  display: flex;
  flex-wrap: wrap;
}

.k2k-filter select {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  height: 30px;
  max-width: 125px;
  min-width: 100px;
  overflow: visible;
}

.k2k-index-search {
  align-self: flex-end;
  display: flex;
}

.k2k-index-link {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  margin-top: -0.25rem;
}

.k2k-search {
  position: relative;
  margin-bottom: 0.5rem;
}

.k2k-search:before {
  font-family: "Font Awesome 5 Free";
  content: "\f002";
  font-weight: 900;
  font-size: 0.8rem;
  position: absolute;
  top: 0.25rem;
  left: 0.75rem;
}

.k2k-search #search {
  padding: 0.25rem 0.5rem 0.25rem 2.25rem;
  color: var(--gaya-grey);
  background: rgba(135, 149, 161, 0.2);
  cursor: pointer;
  border-radius: 100px;
  border: none;
  font-size: 0.9rem;
  height: 30px;
  letter-spacing: 0;
  max-width: 200px;
  margin-bottom: 0;
}

.post-thumbnail.post-video {
  margin-bottom: 0;
}

.sentences-header {
  display: flex;
  align-items: baseline;
}

.sentence-buttons {
  margin: 0 0 0 0.5rem;
}

.sentence-buttons button {
  height: 40px;
  width: 40px;
  padding: 0;
  text-align: center;
  font-size: 1.2rem;
  color: #a9bac9;
}

.sentence-buttons button:active,
.sentence-buttons button:focus {
  outline: none;
}

.sentences li p:hover,
.sentences li p:active,
.sentences li p:focus {
  background: rgba(135, 149, 161, 0.2);
}

.entry-content .sentences {
  list-style: none;
  margin: 0 auto 1.5rem;
  padding: 0;
  /* max-width: 60rem; */
}

.sentences li {
  /* border: 1px solid rgba(0, 0, 0, 0.14); */
  padding: 8px 35px;
  margin: 0 0 0rem;
  border-radius: 10px;
  transition: all 0.3s;
  position: relative;
}

.sentences .expand {
  position: absolute;
  background: transparent;
  left: 5px;
  top: 1px;
  padding: 5px;
  font-weight: bold;
  color: #a9bac9;
  cursor: pointer;
  border: none;
  font-size: 1.2rem;
}

.sentences .expand:focus,
.sentences .expand:active {
  outline: none;
  /* color: red; */
}

.sentences li p {
  margin: 0;
}

.sentences .en {
  /*   display: none; */
  visibility: hidden;
  position: relative;
  top: -2rem;
  height: 0;
  font-size: 80%;
}

.sentences .en.active {
  /*   display: block; */
  visibility: visible;
  border-top: 1px solid rgba(0, 0, 0, 0.14);
  margin-top: 8px;
  padding-top: 8px;
  height: auto;
  top: 0;
}

#nav-above .nav-index {
  display: none;
}

#nav-above {
  position: absolute;
  width: 100%;
  top: 3rem;
}

li.unlinked {
  color: rgba(0, 0, 0, 0.2);
}
